/*use rgb or rgba values for consistency*/

body{
    background-color: rgb(227, 227, 227);
    text-align: center;
}

section{
    background-color: rgb(255, 255, 255);
    width:  fit-content;
    padding: 20px;
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
}

section *{
    margin-top: 5px;
}

#number_of_dice{
    width:35px;
    text-align: center;
}

#roll_button{
    padding: 4px;
    background-color: rgb(235, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 1px;
}

#roll_button:hover{
    background-color: rgb(255, 0, 0);
}